@import "../../node_modules/bootstrap/dist/css/bootstrap.min.css";

.html, .body {
    height: 100%;
}

.main-container {
    display: block;
    height: 100%;
}

@media(min-width: 601px) {
    .main-container {
        margin-left: 20em;
        margin-right: 20em;
    }
}

@media(max-width: 600px) {
    .main-container {
        margin: 0;
    }
}

.main-container game-field {
    display: block;
    text-align: center;
}

game-field canvas {
    border: 1px black dotted;
}
